body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
    color: #ffffff;
    margin: 0;
    flex-direction: column;
}

h1 {
    margin: 0;
}

.countdown {
    font-size: 2rem;
    margin-top: 1rem;
}
